<div class="trust-badge">
  <div class="trust-badge__dot-icon">...</div>
  <div class="trust-badge__header">
    <img src="https://widgets.trustedshops.com/assets/images/trustmark_120x120.png" alt="Trustmark" width="50" height="50">
    <p>Käuferschutz</p>
  </div>

  <div class="trust-badge__line">
  </div>

  <div class="trust-badge__body">
    <div class="trust-badge__rating">
      <div class="trust-badge__rating-stars">
        <svg height="13" width="11" viewBox="0 0 30 28" version="1.1"  style="display: inline; overflow: auto; background: none; padding: 0px; float: none; line-height: inherit; height: auto; margin-bottom: inherit; width: auto; vertical-align: top;"><g id="⭐️-Brand-Elements"><polygon id="⭐️-Star-State"  points="16.9973404 0 12.9840426 12.2184211 0 12.2236842 10.5053191 19.7763158 6.49734043 32 16.9973404 24.4473684 27.5053191 32 23.4946809 19.7763158 34 12.2236842 21.0159574 12.2184211"></polygon></g></svg>
        <svg height="13" width="11" viewBox="0 0 30 28" version="1.1"  style="display: inline; overflow: auto; background: none; padding: 0px; float: none; line-height: inherit; height: auto; margin-bottom: inherit; width: auto; vertical-align: top;"><g id="⭐️-Brand-Elements"><polygon id="⭐️-Star-State"  points="16.9973404 0 12.9840426 12.2184211 0 12.2236842 10.5053191 19.7763158 6.49734043 32 16.9973404 24.4473684 27.5053191 32 23.4946809 19.7763158 34 12.2236842 21.0159574 12.2184211"></polygon></g></svg>
        <svg height="13" width="11" viewBox="0 0 30 28" version="1.1"  style="display: inline; overflow: auto; background: none; padding: 0px; float: none; line-height: inherit; height: auto; margin-bottom: inherit; width: auto; vertical-align: top;"><g id="⭐️-Brand-Elements"><polygon id="⭐️-Star-State"  points="16.9973404 0 12.9840426 12.2184211 0 12.2236842 10.5053191 19.7763158 6.49734043 32 16.9973404 24.4473684 27.5053191 32 23.4946809 19.7763158 34 12.2236842 21.0159574 12.2184211"></polygon></g></svg>
        <svg height="13" width="11" viewBox="0 0 30 28" version="1.1"  style="display: inline; overflow: auto; background: none; padding: 0px; float: none; line-height: inherit; height: auto; margin-bottom: inherit; width: auto; vertical-align: top;"><g id="⭐️-Brand-Elements"><polygon id="⭐️-Star-State"  points="16.9973404 0 12.9840426 12.2184211 0 12.2236842 10.5053191 19.7763158 6.49734043 32 16.9973404 24.4473684 27.5053191 32 23.4946809 19.7763158 34 12.2236842 21.0159574 12.2184211"></polygon></g></svg>
        <svg height="13" width="11" viewBox="0 0 30 28" version="1.1"  style="display: inline; overflow: auto; background: none; padding: 0px; float: none; line-height: inherit; height: auto; margin-bottom: inherit; width: auto; vertical-align: top;"><g id="⭐️-Brand-Elements"><polygon id="⭐️-Star-State"  points="16.9973404 0 12.9840426 12.2184211 0 12.2236842 10.5053191 19.7763158 6.49734043 32 16.9973404 24.4473684 27.5053191 32 23.4946809 19.7763158 34 12.2236842 21.0159574 12.2184211"></polygon></g></svg>
      </div>
      <div class="trust-badge__rating-number">5,00</div>
    </div>
    <p class="trust-badge__comment">Sehr gut</p>
  </div>
</div>

<style>
  .trust-badge {
    background-color: white;
    padding: 8px 0px;
    position: fixed;
    margin: 0px;
    font-size: inherit;
    font-family: sans-serif;
    font-weight: 400;
    color: inherit;
    line-height: normal;
    text-align: inherit;
    width: 93px;
    display: block;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 9px 4px;
    letter-spacing: normal;
    box-sizing: content-box;
    height: auto;
    border-radius: 8px;
    inset: auto 20px 194px auto;
    transition: opacity 0.2s linear 0s;
    z-index: 10;
    cursor: pointer;
    opacity: 1;
    visibility: visible;
  }

  .trust-badge__dot-icon {
    background: none;
    padding: 0px 0px 10px;
    position: absolute;
    word-break: normal;
    font-size: 16px;
    font-family: inherit;
    font-weight: inherit;
    color: rgb(77, 77, 77);
    line-height: normal;
    text-align: inherit;
    display: block;
    float: none;
    margin: 0px;
    width: auto;
    right: 6px;
    top: -5px;
    cursor: pointer;
  }

  .trust-badge__header {
    background: none;
    padding: 3px 0px 0px;
    position: static;
    word-break: normal;
    margin: 0px;
    font-size: inherit;
    font-family: inherit;
    font-weight: normal;
    color: inherit;
    line-height: inherit;
    text-align: center;
    width: auto;
    float: none;
    display: block;
    border: none;
    box-shadow: none;
    letter-spacing: normal;
    box-sizing: content-box;
  }

  .trust-badge__header img {
    display: block;
    background: none;
    padding: 0px 14px;
    position: static;
    word-break: normal;
    margin: auto;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    line-height: inherit;
    text-align: inherit;
    float: none;
    max-width: none;
    width: 50px;
    height: 50px;
    box-sizing: content-box;
  }

  .trust-badge__header p {
    background: none;
    padding: 0px;
    position: static;
    word-break: normal;
    font-size: 13px;
    font-family: inherit;
    font-weight: 400;
    color: black;
    line-height: 15px;
    text-align: center;
    display: block;
    float: none;
    margin: 5px 0px;
    width: auto;
  }

  .trust-badge__line {
    background: rgb(229, 229, 229);
    padding: 0px;
    position: static;
    word-break: normal;
    margin: auto;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    line-height: inherit;
    text-align: inherit;
    width: 77px;
    float: none;
    display: block;
    border: none;
    box-shadow: none;
    letter-spacing: normal;
    box-sizing: border-box;
    height: 1px;
  }

  .trust-badge__body {
    background: none;
    padding: 5px 0px 3px;
    position: static;
    word-break: normal;
    margin: auto;
    font-size: 16px;
    font-family: inherit;
    font-weight: normal;
    color: inherit;
    line-height: inherit;
    text-align: center;
    width: 100%;
    float: none;
    display: block;
    border: none;
    box-shadow: none;
    letter-spacing: normal;
    box-sizing: border-box;
  }

  .trust-badge__rating-stars {
    background: none;
    padding: 0px;
    position: relative;
    word-break: normal;
    margin: 0px;
    font-size: 16px;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    line-height: normal;
    text-align: center;
    float: none;
    display: inline-block;
    border: none;
    box-shadow: none;
    letter-spacing: normal;
    box-sizing: content-box;
    vertical-align: top;
    overflow: hidden;
    height: 13px;
  }

  .trust-badge__rating-stars svg {
    display: inline;
    overflow: auto;
    background: none;
    padding: 0px;
    float: none;
    line-height: inherit;
    height: auto;
    margin-bottom: inherit;
    fill: rgb(255, 220, 15);
    width: auto;
    vertical-align: top;
  }

  .trust-badge__rating-number {
    font-weight: 600;
  }

  .trust-badge__comment {
    background: none;
    padding: 0px;
    position: static;
    word-break: normal;
    font-size: 13px;
    font-family: inherit;
    font-weight: inherit;
    color: black;
    line-height: 16px;
    text-align: center;
    display: block;
    float: none;
    margin: 1px 0px 0px;
    width: auto;
  }
</style>